/* CUSTOM PROPS */
:root{
  --body-bg: #fafafa;
  --element-bg: #fff;
  --text-colr: #111517;
}

/* FONTS */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/") format("woff2"),
      url("../fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
      url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
      url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
      url("../fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

a{
  text-decoration: none;
}

html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

 *,
 *::before,
 *::after{
  box-sizing: inherit;
  }

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--body-bg);
  color: var(--text-colr);
  transition: background-color 0.4s ease, color 0.4s ease;
}


/* DARK MODE */
.dark-mode{
  --body-bg: #202c36;
  --element-bg: #2b3844;
  --text-colr: #fff;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.main-content{
  flex-grow: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}

.main-content-inner{
  padding-top: 80px;
}

/* SITE_HEADER */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--body-bg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
  white-space: nowrap
  ;

}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-logo {
  font-size: 24px;
  line-height: normal;
  font-weight: 800;
  color: var(--text-colr);
}
.site-header-logo:hover{
  opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}
.site-header-theme-toggler {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: var(--text-colr);
}
.site-header-theme-toggler:hover{
  opacity: 0.8;
}
.site-header-theme-toggler:active{
  opacity: 0.6;
}

.site-header-theme-toggler-inner {
  display: flex;
  align-items: center;

}
.site-header-theme-togler-text {
  margin-left: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

/* FLTERS */
.filtes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.filters-search-input {
  border: 0;
  background-color: var(--element-bg);
  color: var(--text-colr);
  margin-left: 25px;
  outline: none;

}

.search-icon{
  display: flex;
  align-items: center;
  min-width: 480px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 18px 270px 18px 34px;
  margin: 0;
  background-color: #fff;
}

.search-icon::before{
  width: 18px;
  height: 18px;
  content: url("../img/icon-search.svg");

}

.filters-region-select {
  min-width: 200px;
  padding: 18px 24px;
  border: 0;
  background-color: var(--element-bg);
  color: var(--text-colr);
  border-radius: 5px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);

}


/* INDEX-COUNTRIES */
.index-countries-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -75px;
  margin-bottom: -75px;
  list-style: none;
}

.index-countries-item {
  width: calc(25% - 75px);
  margin-left: 75px;
  margin-bottom: 75px;
}
.index-country {
  border-radius: 5px;
  background-color: var(--element-bg);
  color: var(--text-colr);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);

}
.index-country-flag {
  width: 100%;
  height: 160px;
  border-radius: 6px;
  object-fit: cover;
}
.index-country-info {
  padding: 24px 24px 48px;
}
.index-country-name {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
}
.index-country-details {
  margin: 0;
}

.index-country-details-item{
  display: flex;
  flex-wrap: wrap;
}

.index-country-details-item:not(:last-child) {
  margin-bottom: 8px;
}
.index-country-details-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.index-country-details-value {
  margin-left: 4px;
}

/* COUNTRY-PAGE */
.country-page-wrapper {
  margin-bottom: 80px;
}

.country-page-back-link {
  display: inline-flex;
  align-items: center;
  color: var(--text-colr);
  background-color: var(--element-bg);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
  padding: 10px 40px;
  border-radius: 6px;
}
.country-page-back-link:hover{
  opacity: 0.8;
}

.country-page-back-link:active{
  opacity: 0.6;
}

.country-page-back-icon {
  margin-right: 10px;
}
.country-page-back-text {
  font-size: 16px;
  line-height: 20px;
}

.country-page-flag-info{
  display: flex;
}

.country-page-flag{
  width: 560px;
  height: 400px;
  margin-right: 120px;
  object-fit: cover;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.country-flag-info {
  width: 600px;
  padding-top: 40px;
}

.country-flag-info-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 800;
}

.country-page-dls-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.country-page-details {
  width: 250px;
}

.country-page-details-item{
  display: flex;
}

.country-page-details-item:not(:last-child) {
  margin-bottom: 12px;
}

.country-page-details-title {
  margin-right: 4px;
  font-weight: 600;
}
.country-page-details-value {
  margin: 0;
  font-weight: 300;
}

.country-page-border-countries {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.country-page-border-heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.country-page-border-list {
  display: flex;
  flex-wrap: wrap;
}

.country-page-border-link {
  min-width: 96px;
  padding: 5px 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 2px;
  background-color: var(--element-bg);
  color: var(--text-colr);
  text-align: center;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
  transition: background-color 0.4s ease,
  color 0.4s ease;
}
.country-page-border-link:not(:last-child){
  margin-right: 10px;
}

.country-page-border-link:hover{
  opacity: 0.8;
}

.country-page-border-link:active{
  opacity: 0.6;
}